<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Equipos</title>
    <link rel="stylesheet" href="static/css/style_tablero.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <header class="header">
    <div class="header-left">
      <img src="{{ url_for('static', filename='Rake.jpg') }}" alt="Logo Rake" class="logo">
    </div>

    <nav class="nav">
      <a href="/" class="nav-link">Inicio</a>
      <a href="/table" class="nav-link">Tablero</a>
    </nav>

    <div class="header-right">
      <a href="/login" class="login-icon" title="Iniciar sesión">
        <i data-lucide="user"></i>
      </a>

      <script>
        lucide.createIcons();
      </script>

      <span class="fecha">Última actualización: 4:10 PM - 07/11/2025</span>
    </div>
  </header>

    <main>
        {% for usuario, equipos in data.items() %}
        <section class="tablero">
            <h1>{{ usuario }}</h1>
            <h3>Equipos Asignados</h3>

            {% if equipos %}
            <div class="table-container">
                <table class="equipos-table">
                    <thead>
                        <tr>
                            <th>SAP</th>
                            <th>Descripción</th>
                            <th>Serial</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in equipos %}
                        <tr>
                            <td>{{ e.sap }}</td>
                            <td>{{ e.descripcion }}</td>
                            <td>{{ e.serial }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="no-data">No tiene equipos asignados.</p>
            {% endif %}
        </section>
        {% endfor %}
    </main>



</body>

</html>